@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/alagard.ttf') format('truetype');
}

.centered-text {
  text-align: center;
  color: white;
  font-family: 'CustomFont', sans-serif;
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'CustomFont', Arial, sans-serif;
}

button {
  background-color: #000000;
  color: white;
  border:2px solid #ffffff ;
  width: 150px;
  height: 50px;
  font-size: 24px;
  font-family: 'CustomFont', Arial, sans-serif;
}